[profile.default]
src = "contracts"
out = "out"
libs = [
    "lib",
    "node_modules",
]
remappings = [
    "@chainlink/=node_modules/@chainlink/contracts/src/v0.8/",
    "@eth-optimism/=node_modules/@eth-optimism/",
    "@openzeppelin/contracts/=node_modules/@openzeppelin/contracts/",
    "@openzeppelin/contracts-upgradeable/=node_modules/@openzeppelin/contracts-upgradeable/",
    "erc721a/=node_modules/erc721a/contracts/",
    "forge-std/=lib/forge-std/src/",
]
evm_version = 'shanghai'
optimizer = true
optimizer_runs = 200
solc = '0.8.26'

[fuzz]
runs = 8192

# See more config options https://github.com/foundry-rs/foundry/blob/master/crates/config/README.md#all-options
